@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.leaflet-popup-content {
  margin: 13px 20px 13px 20px;
}
